.margin-top {
  margin-top: 10px;
  &.medium {
    margin-top: 20px;
  }
  &.large {
    margin-top: 30px;
  }
}

.margin-bottom {
  margin-bottom: 10px;
  &.medium {
    margin-bottom: 20px;
  }
  &.large {
    margin-bottom: 30px;
  }
}

.margin-right {
  margin-right: 10px;
  &.medium {
    margin-right: 20px;
  }
}

.padding-left-right {
  padding: 0 40px 0 40px;
  @include media(mobile) {
    padding: 0 10px 0 10px;
  }
}

.pad-left {
  padding-left: 15px;
}

.pad-right {
  padding-right: 15px;

  &.small {
    padding-right: 7px;
  }
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
