a {
  mark,
  span,
  &.clickable {
    color: $link-colour;
  }
  &.white {
    color: $white;
    cursor: pointer;
    text-decoration: underline;
  }
  &.clickable {
    text-decoration: underline;
  }
  &.no-underline {
    text-decoration: none;
  }
}

mark {
  background-color: $yellow-25;
}

.font-xxsmall {
  @include core-14();
}

.risk-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;

  &.risk-green {
    background: $green;
  }
  &.risk-amber {
    background: $yellow;
  }
  &.risk-red {
    background: $red;
  }
}

.risk-icon-top {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 3px solid gray;
  border-radius: 50%;
  margin-top: 5px;
}

.text-white {
  color: white;
}

.text-blue {
  color: #2069b8;
}

.title {
  display: inline-block;
  padding: 10px 0 0 15px;
  font-size: 21px;
  color: gray;
}

.list-bullet {
  margin-left: 25px;
  padding-left: 10px;
}
